body{
    font-family: 'Cthulhumbus';
    font-size:large;
    color:cornsilk;
    background-image: url('/images/staticAnimated.gif');
}

div{
    background-color: #000000;
    width:60%;
    margin:auto;
    padding:1%;
}

.header {
    background-image: url('/images/placeholder.png');
    height: 15%;
    background-color: none;
}

.navbar {
    list-style-type: none;
    text-align: left;
    text-decoration: none;
    color:cornsilk;
    margin:0%;
    width: 60%;
}

.navtext {
    display: inline;
    color:antiquewhite;
    text-decoration: none;
    padding-right: 4%;
}

.navtext:hover {
    color: gray;
}